#list-project {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-project {
    width: fit-content;
    margin: 10px;
    padding: 20px;
    border: 1px dotted #4b4b4b;
}

img {
    max-height: 400px;
}
/* tooltip */
.item-project {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .item-project .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .item-project .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .item-project:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }